html,
body {
    margin:0;
    padding:0;
    height:100%;
}

.text-block {
    position: absolute;
    bottom: 60%;
    left: 20%;
    color: white;

    font-size: 150%;
}

.btn-transparent {
    background-color: Transparent;
    border: 2px solid;
}
.btn-transparent:hover  {
    color:  #fff;
    background:  rgba(255, 255, 255, 0.2);
}

.good-font {
    font-family: "Franklin Gothic";
}

.small-font {
    font-size: 125%;
}

.modify {
    position: relative;
    top: 50px;

}
.footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

.page-container {
    position: relative;
    min-height: 100%;

}

.about-us {
    height: 300px;
}

body{ font: 14px sans-serif; }
.wrapper{ width: 350px; padding: 20px; padding-top: 70px; }

.products {
    display: inline-block;
    width: 30%;
    height: 30%;
    padding: 70px;
}





.item-box{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.item-box .item-image img{
    margin: 0 auto;
    width: 100%;
}
.item-box .item-main-detail{
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.item-box:hover .item-main-detail{
    background-color: #dbeeee !important;
}
.item-box .price{
    float: left;
    margin-top: 5px;
}
.item-box .price h5{
    line-height: 20px;
    margin: 0;
}
.detail-price{
    color: #219FD1;
}
.item-box .item-main-detail .rating{
    color: #777;
}
.item-box .rating{
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}
.item-box .btn-add{
    width: 50%;
    float: left;
    border-right: 1px solid #E1E1E1;
}
.item-box .btn-details{
    width: 50%;
    float: left;
}

.btn-info,.btn-info:visited,.btn-info:hover{
    background-color: #21BBD8;
    border-color: #21BBD8;
}
.btn-info{
    margin-left:5px;
}
.item-main-detail:hover{
    background-color: #dbeeee !important;
}
.AddCart{
    margin: 0px;
    padding:5px;
    border-radius:2px;
    margin-right:10px;
}
.review {
    margin-bottom: 5px;
    padding-top:5px;
}



.row-modify {
    border: solid;
    width: 100%;
    height: 450px;
    margin: 15px auto;
}

.left {
    display: inline-block;
    width: 25%;
    height: 50%;
    border-right: solid;
}

.right {
    display: inline-block;
    width: 60%;

    height: 100%;
    float: right;
}





.label {
    list-style-type: none;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

